<div id="new-sidebar" class="sidebar active">
    <div class="sidebar-header">
        <h5>Menu</h5>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("Dashboard", "Admin")">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("AddVoter", "AdminVoter")">Voter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("AddCandidate", "Candidate")">Candidate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("GenerateElection", "Election")">Election</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Voting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("ViewResult", "Result")">Results</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("ReplyComplain", "Complain")">Complain</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Logout</a>
        </li>
    </ul>
</div>
