<style>

    #btnlogout{
        width: 100%;
        border-style: none;
        background-color: #0077b6;
        text-align: left;
    }
    #btnlogout:hover{
        background-color: darkgrey;
    }
</style>
<div style="background-color: #0077b6 !important" id="new-sidebar" class="sidebar active">
    <div class="sidebar-header">
        <h5>Menu</h5>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("Dashboard", "Admin")">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("AddVoter", "AdminVoter")">Voter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("AddCandidate", "Candidate")">Candidate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("GenerateElection", "Election")">Election</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("ViewResult", "Result")">Results</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="@Url.Action("ReplyComplain", "Complain")">Complain</a>
        </li>
        <li class="nav-item">
            <form asp-controller="Auth" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button id="btnlogout" class="nav-link text-white" type="submit">
                    Log out
                </button>
            </form>
        </li>
    </ul>
</div>
