@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    
    <style>
            .text-danger {
                color: red;
            }
    </style>
    
    <script>
                debugger;
                window.onload = function() {
                    var loginFailed = '@ViewBag.LoginFailed';
                    if (loginFailed === 'True') {
                        alert('Login failed. Please check your UserName and Password.');
                    }
                };
    </script>
</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
            <h2>Login</h2>
            <div class="input-field">
                @Html.TextBoxFor(model => model.UserName, new { @class = "input", placeholder = "Enter your UserName" })
                 @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="input-field">
                @Html.PasswordFor(model => model.Password, new { @class = "input", placeholder = "Enter your password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="forget">
                @Html.ActionLink("Forgot password?", "ForgotPassword", "Auth", null, new { @class = "forgot-link" })
            </div>
            <button type="submit">Log In</button>
            <div class="register">
                <p>Don't have an account? @Html.ActionLink("Register", "Register", "Auth")</p>
            </div>
        }
    </div>
</body>
</html>
