@model OnlineVotingS.API.Models.ProfileViewModel

<div class="container">
    <h2>User Profile</h2>
    <p><strong>Username:</strong> @Model.Username</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>FathersName:</strong> @Model.FathersName</p>
    <p><strong>DateOfBirth:</strong> @Model.DateOfBirth</p>
    <p><strong>Gender:</strong> @Model.Gender</p>
    <p><strong>Address:</strong> @Model.Address</p>
    <p><strong>PhoneNumber:</strong> @Model.PhoneNumber</p>





</div>